@model Blog.Models.BlockedUserModel
@using Blog.Properties


@using (Html.BeginForm("UnBaningUser", "Home", new { id = Model.UserId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal-content">
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h4>Разблокировать пользователя №@Model.UserId</h4>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => Model.UserId)
            <p>
                @Html.Label(Resources.WAS_BANNED, new { @class = "col-md-0 control-label" })
            </p>
            <p>
                @Html.DisplayFor(m => m.BlockDate)
            </p>
            <p>
                @Html.Label(Resources.UNTIL, new { @class = "col-md-0 control-label" })
            </p>
            @if (Model.ReleaseDate == null)
            {
                <p>
                    @Resources.PERMANENT
                </p>
            }
            else
            {
                <p>
                    @Html.DisplayFor(m => m.ReleaseDate)
                </p>
            }
            <p>
                @Html.Label(Resources.REASON + ":", new { @class = "col-md-0 control-label" })
            </p>
            <p>
                @Html.DisplayFor(m => m.Reason)
            </p>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Resources.UNBAN class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
